:root {
  --color-green: #c1d72f;
  --color-green-ghost: rgba(193, 215, 47, 0.12);
  --color-red: #cf6679;
  --color-red-border: #cf6679;
  --color-text: #213547;
  --color-bg: #ffffff;
}

.App {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
